// Цвета
$primary: #007AFF;
$secondary: #6366F1;
$background: #F9FAFB;
$text-main: #111827;
$text-muted: #6B7280;
$success: #10B981;
$error: #EF4444;

$primary-hover: #005aeb;

$workspace-bg: #1F2937;

$selected: rgba($primary, 0.12)