.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;

        p {
            margin-top: 20px;
        }

        .code__inputs {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
        }

        .code__input {
            width: 35px;
            height: 35px;
            outline: none;
            border: 1px solid $primary;
            text-align: center;
            border-radius: 10px;
            font-weight: bold;
        }

        .input__box {
            margin-top: 25px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .button {
            margin-top: 20px;
        }
    }
}
